@model HabitTrackerAspNetMVCWebApp.Models.Habit

@{
    ViewData["Title"] = "Details";
}

<h1>Habit Details</h1>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt>Description</dt>
        <dd>@Model.Description</dd>

        <dt>Frequency</dt>
        <dd>@Model.Frequency</dd>

        <dt>Status</dt>
        <dd>@Model.Status</dd>

        <dt>Start Date</dt>
        <dd>@Model.StartDate.ToShortDateString()</dd>

        <dt>End Date</dt>
        <dd>@(Model.EndDate?.ToShortDateString() ?? "-")</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
<a asp-action="Index">Back</a>